In [1]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import pandas as pd
import numpy as np

In [4]:
col_names = ['age', 'work_class', 'final_weight', 'education', 'education_numb_of_years', 'marital_status', 'occupation', 
           'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
adult_test = pd.read_csv('adult_data_test.csv', header=None, delimiter = ", ", names = col_names, na_values=["?"], skiprows=1)
adult_test.head(16)

,age,work_class,final_weight,education,education_numb_of_years,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.
6,29,NaN,227026,HS-grad,9,Never-married,NaN,Unmarried,Black,Male,0,0,40,United-States,<=50K.
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K.
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K.
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K.
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K.
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K.
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K.
13,58,NaN,299831,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,35,United-States,<=50K.
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K.
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K.

In [6]:
count_null = adult_test.isnull().sum() #Checking the total number of null values in the dataset per attribute(column)
count_null

age                          0
work_class                 963
final_weight                 0
education                    0
education_numb_of_years      0
marital_status               0
occupation                 966
relationship                 0
race                         0
sex                          0
capital_gain                 0
capital_loss                 0
hours_per_week               0
native_country             274
income                       0
dtype: int64

In [7]:
print(adult_test['education'].value_counts().sort_values(ascending=False))

HS-grad         5283
Some-college    3587
Bachelors       2670
Masters          934
Assoc-voc        679
11th             637
Assoc-acdm       534
10th             456
7th-8th          309
Prof-school      258
9th              242
12th             224
Doctorate        181
5th-6th          176
1st-4th           79
Preschool         32
Name: education, dtype: int64

In [8]:
adult_test.columns

Index(['age', 'work_class', 'final_weight', 'education',
       'education_numb_of_years', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
       'hours_per_week', 'native_country', 'income'],
      dtype='object')

In [ ]:
encoders = {}
for col in ['work_class', 'education', 'marital_status',
                'occupation', 'relationship', 'race',
                'sex','native_country', 'income']:
    categorical_convert = LabelEncoder()
    adult_income[col] = categorical_convert.fit_transform(adult_income[col])
    encoders[col] = categorical_convert
    
    
test_encoders = {}
for col in ['work_class', 'education', 'marital_status',
                'occupation', 'relationship', 'race',
                'sex','native_country', 'income']:
    test_categorical_convert = LabelEncoder()
    adult_test[col] = test_categorical_convert.fit_transform(adult_test[col])
    test_encoders[col] = test_categorical_convert

In [ ]:
y_train = adult_income['income']
x_cols = [col for col in adult_income.columns if col != 'income']
X_train = adult_income[x_cols]
X_train.head()

In [ ]:
from sklearn.metrics import roc_auc_score, roc_curve

def model_accuracy(X_train, y_train, X_test, y_test):
    model = RandomForestClassifier(n_estimators = 100, random_state = 1)
    model.fit(X_train, y_train)
    y_hat = [X[1] for X in model.predict_proba(X_test)]
    auc_score = roc_auc_score(y_test, y_hat)
    return auc_score


auc = model_accuracy(X_train, y_train, X_test, y_test)
print(auc)

In [ ]:
new_adult = adult_income.copy()
new_adult = new_adult.apply(LabelEncoder().fit_transform)
# new_adult.head()

new_test = adult_test.copy()
new_test = new_test.apply(LabelEncoder().fit_transform)
new_test.head()